@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss"; 

*{
    font-family:"Outfit", sans-serif;
}

@theme{
    --color-primary: #4fbf8b;
    --color-primary-dull:#44ae7c;
}

/* @utility container{
    margin:auto;
} */

@layer utilities {
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    max-width: 1200px; /* Change to your preference */
  }
}
