@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss"; 

*{
    font-family:"Outfit", sans-serif;
}

    .hero-ring{
        @apply  absolute inset-0 border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-emerald-300/5 shadow-[0_0_80px_inset] shadow-primary-dull/50 
    }
    
@theme{
    --color-primary: #4fbf8b;
    --color-primary-dull:#44ae7c;
}



@layer utilities {
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    max-width: 1200px; /* Change to your preference */
  }
}
